<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Poster Presentation - Acumen 2K25</title>
    <link rel="stylesheet" href="../static/css/event.css">
</head>
<body>

    <header>
        <nav class="navbar">
            <div class="navbar-left">
                <img src="../static/images/logofinal.png" alt="Logo 1" class="nav-logo">
                <!-- <img src="../static/images/vlogo21.png" alt="Logo 2" class="nav-logo"> -->
            </div>
            <div class="menu-icon" onclick="toggleMenu()">☰</div>
            <ul class="nav-links">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/#events">Events</a></li>
                <li><a href="/sponsors">Sponsors</a></li>
                <li><a href="/committee">Organizing Committee</a></li>
            </ul>
        </nav>
    </header>
    
<div class="wrapper">
    <main class="event-container">
        <section class="event-content">
            <div class="poster">
                <img src="../static/images/POSTER.jpg" alt="Event Poster">
            </div>
            <div class="event-details">
                <h1>POSTER PRESENTATION</h1>
                <p class="event-description">📢Showcase your research and creativity in a 3-5 minute presentation with a visually designed poster.<br>

                    Rules & Guidelines:<br>
                    
                    ✅Team: Individual or team (max 2 members).<br>
                    
                    💸Entry Fee: ₹100 per participant/team.<br>
                    
                    📜Poster: Original, A1/A0 size, covering title, methodology, results & conclusion.<br>
                    
                    💬Presentation: 3-5 minutes + Q&A.<br>
                    
                    👨‍⚖Judging: Based on clarity, research depth, originality & presentation.<br>
                    
                    💰Prize pool: 2500/-<br>
                    
                    
                    Join us and let your ideas shine!💥<br>
                    📞Contact us <br>
                    Bhavya-9133335476<br>
                    Preethi-9347948724</p><br>
            </div>
        </section>

        <section class="rules">
            <h2>Registration Fee</h2>
            <ul>
                <li>₹100 per participant/team.</li>
               
            </ul>
        </section>

        <section class="register">
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSeOS1C88Bz_dbOQjNH21hN3HcJt-B2453sAlVr2LlqV_6nWGQ/viewform?usp=header" target="_blank" class="register-btn">REGISTER HERE</a>
        </section>
    </main>
</div>
    <footer class="footer">
        <div class="footer-content">
            <div class="footer-links">
                <a href="/">Home</a>
                <a href="/about">About</a>
                <a href="/sponsors">Sponsors</a>
                <a href="/#events">Events</a>
                <a href="/committee">Organizing Committee</a>
            </div>
            <div class="footer-contact">
                <p>Contact Us: acumen2k25@gmail.com</p>
            </div>
            <!-- <div class="footer-developers">
                <p>Developed by <span class="highlight">V. Darpad Sai</span> and <span class="highlight">M. Chaitanya</span></p>
            </div> -->
            <div class="footer-copyright">
                <p>&copy; 2025 VCE CSE ACUMEN 2K25. All Rights Reserved.</p>
            </div>
        </div>
    </footer>
    
    <script src="{{ url_for('static', filename='js/hamburger.js') }}"></script>
</body>
</html>
